/*

jQueryUI style from:
http://jqueryui.com/themeroller/#ffDefault=Verdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=5px&bgColorHeader=4184d2&bgTextureHeader=12_gloss_wave.png&bgImgOpacityHeader=75&borderColorHeader=48a2dc&fcHeader=eaf5f7&iconColorHeader=d8e7f3&bgColorContent=f6f5f2&bgTextureContent=06_inset_hard.png&bgImgOpacityContent=100&borderColorContent=a6c9e2&fcContent=222222&iconColorContent=48a2dc&bgColorDefault=808080&bgTextureDefault=03_highlight_soft.png&bgImgOpacityDefault=45&borderColorDefault=999&fcDefault=ffffff&iconColorDefault=ddd&bgColorHover=666&bgTextureHover=03_highlight_soft.png&bgImgOpacityHover=75&borderColorHover=999&fcHover=fff&iconColorHover=ddd&bgColorActive=004e9e&bgTextureActive=04_highlight_hard.png&bgImgOpacityActive=50&borderColorActive=2966ae&fcActive=ffffff&iconColorActive=fff&bgColorHighlight=758dff&bgTextureHighlight=02_glass.png&bgImgOpacityHighlight=55&borderColorHighlight=fcd113&fcHighlight=915608&iconColorHighlight=f7a50d&bgColorError=e14f1c&bgTextureError=12_gloss_wave.png&bgImgOpacityError=45&borderColorError=cd0a0a&fcError=ffffff&iconColorError=fcd113&bgColorOverlay=aaaaaa&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=75&opacityOverlay=30&bgColorShadow=999999&bgTextureShadow=01_flat.png&bgImgOpacityShadow=55&opacityShadow=45&thicknessShadow=0px&offsetTopShadow=5px&offsetLeftShadow=5px&cornerRadiusShadow=5px

*/

* {
	font-family: arial,verdana,sans-serif;
}

body,html {
	margin:0;
	padding:0;
	width:768px;
	font-size:12px;
	height:600px; /* height without navi */
}

.ui-tabs-nav {
height:33px;
}
.tab {
	position:relative;
}

h1 {
  font-size:14px;
	font-weight:bold;
}
h2 {
	font-size:14px;
	font-weight:normal;
}
p {
	color:#555;
	margin:7px 0;
}
p a {
	color:0;
	text-decoration:none;
}
p a:hover, p a:active, p a:focus {
	text-decoration:underline;
}

.text-mit-tt {
	font-weight: 700;
	cursor: default;
	background: url("icon_tooltip.png") no-repeat top right;
	padding: 0 15px 0 0;
}
#tooltip .ttText {
	width: 300px;
}
#tooltip {
	position:absolute;
	left:0;
	top:0;
	background-color:#eee;
	border:1px solid #777;
	opacity:0;
	display:none;
	z-index:100;
	padding:0 10px;
}

#tooltip td {
	padding:3px 7px;
}

#tooltip p {
	color:black;
}

#tooltip table {
	margin:5px 0;
}

#tabs {
	background-image: none;
}

#sMap, #aMap, #wMap, #tMap {
	background: url('shadow.png') no-repeat -2px 12px;
}

.quellen {
	position:absolute;
	right:10px;
	bottom:10px;
	width:70px;
	height:16px;
	border:1px solid #e6e7db;
	background-color:#eee;
	padding:0;
	margin:0;
	overflow:hidden;
}
.quellen h1 {
	cursor:pointer;
	background-color:#e6e7db;
	margin:0 0 5px 0;
	padding:0;
	text-decoration:none;
	font-weight:normal;
	color:#004e9e;
	text-align:center;
	font-size:14px;
}
.quellen:hover {
	border:1px solid #aaa;
}
.quellen:hover h1 {
	background-color:#bbb;
}
.quellen.open h1 {
	background-color:#afad97;
	background-image:url('closeIcon.png');
	background-repeat:no-repeat;
	background-position:right top;
}
.quellen p {
	margin:0;
	padding:2px 9px 2px 9px;
}
.quellen p a {
	text-decoration:underline;
}
.quellen p a:hover {
	background-color:#bbb;
}
.quellen.open {
	z-index:100;
	padding:0 0 4px 0;
	right:30px;
	bottom:30px;
	width:400px;
	height:auto;
	-webkit-box-shadow: 3px 4px 7px #2b2b2b;
	-moz-box-shadow: 3px 4px 7px #2b2b2b;
	box-shadow: 3px 4px 7px #2b2b2b;
}

/* +++ Diagramme +++ */

.box-legende-diagramme {
	overflow: hidden;
	position: absolute;
	top: 34px;
	left: 35px;
}

.legende-diagramme {
	list-style-type: none;
	margin: 0;
}
.legende-diagramme li {
	float: left;
}
.legende-diagramme .legende-box {
	width:13px; 
	height:13px; 
	display:inline-block; 
	margin:0 4px -3px 15px;
	border:1px solid rgba(0,0,0,0.3);
}
.legende-diagramme .sachsen {
	background-color:#219511;
}
.legende-diagramme .sachsen-anhalt {
	background-color:#B38910;
}
.legende-diagramme .thueringen {
	background-color:#A10F0B;
}

.diagrammhinweis {
	font-size:11px;
}